@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin-top: 0;
  font-family: 'Red Rose';
  position: relative;
  text-decoration: none;
}
 /* navbar styling */
.nav-container, .nav-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  box-sizing: border-box;
}
.nav-container{
  gap:185px;
  margin-top: 51.14px;

}
.nav-text{
  gap:48px;
}
.nav-text p{
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-top: 25px;
}
.connect-wallet button, .input button , .learn-button button  {
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.connect-wallet button{
    border-radius: 10px;
    width: 170px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color: #FFFFFF;
}
.input button{
    border-radius: 0px 8px 8px 0px;
    width: 230px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    color: #FFFFFF;
}
.learn-button button{
    border-radius: 8px;
    width: 156px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    color: #A02279;
} 

/* home styling after navbar */
.home{
  max-width: 1440px;
  margin-top: 125px;

}
.rent-gphoto{
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  box-sizing: border-box;
  margin: auto;
  gap:109px;
  margin-bottom:67px;
}
.rent-search{
  display: flex;
  flex-direction: column;
  gap:43px;
}
#rent-text{
  font-weight: 400;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #434343;
  box-sizing: border-box;
  margin-top: 15px;
}
#small-text{
  width: 636px;
height: 102px;
font-weight: 400;
font-size: 24px;
line-height: 35px;
color: #434343;
letter-spacing: 0.06em;
}
.connect-wallet button{
  border-radius: 10px;
  width: 170px;
}
.input button{
   width: 230px;
   border-radius: 0px 8px 8px 0px;
}

/* token,sea and mask styling */

.token-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
  gap: 264px;
  height: 70px;
  left: 0px;
  top: 742px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.inspiration {
  margin: auto;
  max-width: 817px;
  align-items: center; 
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  letter-spacing: 0.05em;
  margin-top: 39px;
}

/* card styling */
.cards-container{
  margin: 40px 30px;
  display:flex;
  flex-wrap: wrap;
  gap: 5px;
}
.cards-container .card{
  box-sizing: border-box;
  width: 300px;
  height: 3auto;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border-radius: 15px;
  border: 1px solid #D7D7D7;
}

.content{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.image-content .text{
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: #434343;
}
.title-cost, .dist-time{
  display: flex;
  justify-content: space-between;
  gap:10px
}
/* .rows-wrapper{
  display: flex;
  flex-direction: column;
  gap:18px;
} */
/* .cards-row{
  display: flex;
  gap:18px;
} */

/* after cards 1 styling */
.after-cards1{
  max-width: 1440px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 2px solid #0000;
  margin-top: 53px;
  padding: 60px 20px;
}
.metabnb-group{
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
}
.metabnb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:30px;
 
}
.meta{
  height: 45px;
   font-size:48px;
   font-weight: bold;
}

.meta h1{
  width: 360px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 0.06em;
}

.meta-text p{
  font-weight: 400;
  font-size: 18px;
  color:#FFFFFF;
}
/* footer styling */
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  background: #1D1D1E;
  height: 322px;
}
.footer-meta{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:60px;  
}
.social-icons{
  display: flex;
  /* justify-content: left; */
  gap:40px;
}
.community, .places, .about-us{
  display: flex;
  flex-direction: column;
  gap:10px;  
}
.fm-image{
  margin-bottom: 23px ;
}
.footer .heading{
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}
.footer-text{
  font-weight: 300;
  font-size: 15px;
  line-height: 35px;
  color: #F1F3F9;
  letter-spacing: 0.1em;
}

/* modal styling */

.modal-card{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.modcard-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  gap: 135px;
  width: 465px;
  height: 68px;
  background-color: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  cursor: pointer;
}
.modcard-content:hover{
  background: #F8F9FA;
}
.modcard-content, .icon-text{
  display: flex;
  align-items: center;
  gap: 11px;
}
.icon-text p{
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  letter-spacing: 0.06em;
  margin-top: 15px;
}

/* Place to stay styling */

.placeto-nav{
  display: flex;
  max-width: 1240px;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  gap:110px;
  margin-top: 110px;

}

.placeto-nav .text{
  display: flex;
  gap:52px;
  padding-top: 13px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343; 
}
.location-button{
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border: 1px solid #B4B4B4;
  border-radius: 8px;
  Width:161px;
  Height:48px;
  display: flex;
  justify-content: space-between;
   align-items: center;
}

/* Links styling */
.nav-text a, .nav-text a:hover, .cards-container a, .footer a, .placeto-nav a, .placeto-nav a:hover{
  text-decoration: none;
  color: #434343;
}


nav{
  height:75px;
  width:100%;
  /* background-color: rgb(red, green, blue); */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  margin-top: 20px;
}

.nav-list{
  position: fixed;
  width: 100%;
  /* height: 100vh; */
   height: 0vh;
  top:75px;
  background: #2A3B51;
  float: right;
  text-align: center;
  transition: all .5s;

  max-width: 1240px;
  margin: auto;
}

.nav-list li{
  opacity: 0;
  line-height: 30px;
  transition: all .5s;
  margin: 50px 0;
}
.nav-list li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-list li a.active, .nav-list li a:hover{
  color:#A02279;
  transition: 0.5s;
}
.hamburger-btn{
  display: block;
  font-size: 30px;
  color: black;
  float:right;
  line-height: 75px;
  margin-right: 40px;
  cursor: pointer;
}
#check{
  display: none;
}
#check:checked ~ .nav-list{
  height: 100vh;
}

#check:checked ~ .nav-list li{
  opacity:1;
}





/* Responsiveness */
/* mobile */

@media only screen and (max-width: 425px){
    .rent-gphoto{
    display: flex;
    flex-direction: column;
   
    gap:109px;
    margin-bottom:67px;
  }
  .group{
    visibility: hidden;
  }
  .footer{
    display:flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 900px){
  .logo-container{
    margin-left: 25px;
  }
  nav{
    height: 100px;
    background-color: transparent;
  }
  .hamburger-btn{
    display: none;
  }

  .nav-list{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    float: right;
    text-align: right;
    transition: none;
  }
  .nav-list li{
    display: inline-block;
    opacity: 1;
    line-height: 100px;
    transition: none;
    margin: 0 20px;

  }

  .nav-list li a.active, .nav-list li a:hover{
  color:black;
  transition: 0.5s;
}
}